


.newchamado button{
    float:right;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:#FFF;
    background-color: #83bf02;
    border:0;
    height: 40px;
    margin-top:10px;
    padding: .5em;
    padding-bottom: 10px;
    border-radius: 6px;

    
}
 .tabela{
    background-color: #FFF;
    margin-top:10px; 
    
    width: 100%;
    padding-top:10px;
    border-radius: 14px;
 }


 .tiposChamado{
   margin-top: 10px;
   padding-top: 4em;
    
 }
.tiposChamado table{
   
    padding:10px;
  

    
}

.tiposChamado td{
    padding: 10px;
    
}


.buscar button{
 color:#FFF;
 background-color: #181C2e;
 height: 3em;
 padding: 10px;
 margin-top:20px;
 border:0;
 border-radius:6px;


 
}

.tabela button{
    background-color: #83bf02;
  margin: 3px;
  border:0;
  height: 20px;
  width: 20px;

}